@model Hospital.Web.Models.PatientViewModel

<h2>Add Patient</h2>

<form method="post">

    <label>Name</label>
    <input asp-for="Name" />

    <br />

    <label>Condition</label>
    <input asp-for="Condition" />

    <br />

    <label>DoctorId</label>
    <input asp-for="DoctorId" />

    <br />

    <button type="submit">Save</button>

</form>